{% extends "base.html" %}

{% block title %}Tennis Club - Courts{% endblock %}

{% block content %}
<div class="courts-container">
    <h1 class="courts-heading">Edit Profile</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p class="courts-description">
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'members' %}" class="btn btn-secondary">Discard Changes</a>
            </div>
        </form>
</div>
{% endblock %}
